
<div class="col-lg-7 mt-5 mt-lg-1 d-flex align-items-stretch">
    <form action="" method="post" role="form" class="php-email-form">
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_start(form) }}

                {{ form_row(form.id,{ 'attr':{ 'class':"form-control"}}) }}
                {{ form_row(form.username,{ 'attr':{ 'placeholder':"username",'class':"form-control"}}) }}
                {{ form_row(form.password,{ 'attr':{ 'class':"form-control"}}) }}



                {{ form_row(form.Add,{ 'attr':{ 'class':"btn btn-primary"}}) }}

            </div>
        </div>
    </form>
</div>
